<h2>Forgot Password</h2>
<div class="col-xs-12">
<div class="col-xs-4"></div>
<form class="col-xs-6">
<label class="col-xs-3">Username</label><input type="text" name="" class="col-xs-3">
<div class="clearfix"></div>
</form>
<div class="col-xs-2"></div>
</div>