<h2>Login</h2>
<div class="col-xs-12">
<div class="col-xs-4"></div>
<form class="col-xs-6" method="POST" action="userlogin">
<label class="col-xs-3" for="uname">Username</label>
<input type="text" name="uname" class="col-xs-3" required>
<div class="clearfix"></div>
<label class="col-xs-3" for="pass">Password</label>
<input type="Password" name="pass" class="col-xs-3" required>
<div class="clearfix"></div>
<input type="submit" name="" value="Login" class="submit_button col-xs-3">
<input type="reset" name="" value="Cancel" class="col-xs-3">
<div class="clearfix"></div>
<a href="/forgot" class="col-xs-9">Forgot Password???</a>
</form>
<div class="col-xs-2"></div>
</div>