<h2>Sign Up!!!</h2>
<div class="col-xs-12">
<div class="col-xs-4"></div>
<form class="col-xs-6" method="POST" action="usersignup">
<label class="col-xs-3">Username</label><input type="text" name="uname" class="col-xs-3" required>
<div class="clearfix"></div>
<label class="col-xs-3">Name</label><input type="text" name="" class="col-xs-3" required>
<div class="clearfix"></div>
<label class="col-xs-3">Password</label><input type="Password" name="pass" class="col-xs-3" required>
<div class="clearfix"></div>
<input type="submit" name="" value="Submit" class="submit_button col-xs-3">
<input type="reset" name="" value="Cancel" class="col-xs-3">
</form>
<div class="col-xs-2"></div>
</div>